<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration Form</title>
</head>
<body>
    <form method="post">
        Your name: <input type="text" name="name" /><br />
        Your email: <input type="email" name="email" /><br />
        Your phone: <input type="tel" name="phone" /><br />
        Will you attend? 
        <select name="attendance">
            <option disabled selected>Choose an option</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select><br />

        <input type="submit" name="submit" />
    </form>
</body>
</html>
