<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Welcome</title>
    </head>
    <body>
        <div>
            <h1>Thank you, @ViewBag.Name!</h1>
            <p>It's great that you're coming. The drinks are already in the fridge!</p>
        </div>
    </body>
</html>
