@model EmployeeViewModel

@{
    ViewBag.Title = "Employees";
}


<h1>Employee List</h1>

<button type="button" class="btn btn-primary add" data-toggle="modal" data-target="#employee-modal">
    + Add New Employee
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (Employee employee in Model.Employees)

        {
            @Html.Partial("partials/_ColPartial", employee)
        }
    </tbody>
</table>

@{ 
    AjaxOptions options = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
        UpdateTargetId = "tbody",
        InsertionMode = InsertionMode.InsertAfter
    };
}


<div class="modal fade" id="employee-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            @using (Ajax.BeginForm("AddAjax", options))
            {
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Employee Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        @Html.Partial("partials/_ModalFormPartials", Model)

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </div>
            }
    </div>
</div>


@section Styles {
    <style>
        .add {
            margin: 20px 0;
        }

        .icon {
            display: block;
            margin-right: 10px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Bundles/Scripts");
}