<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome @ViewBag.Name</h1>
    <p>Registration is successfully :)</p>
</body>
</html>
